*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
html{
  font-family: monospace;
}
body{
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container{
  max-width: 500px;
  padding: 8px;
} 
header{
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
}
h1{
  padding: 3px;
  text-align: center;
  font-size: 21px;
  background-color: rgb(5, 66, 56);
  color: white;
}
.display{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.meds{
  padding: 8px;
  border: rgb(128, 128, 128) 1px dashed;
  margin-block: 3px;
}

.no-display{
  position: absolute;
  text-align: center;
  margin-block: 13px;
}
